.frase_enter  {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	background: black;
	color: white;
} 

.frase_enter p {
    color: white;
} 

.frase_ok p {
    color: black;
} 

.frase_wrong p {
    color: black;
} 

.frase_ok {
  background: #5dff21;
  color:black;
}

.frase_wrong {
  background: red;
  color:black;
}