.frase_enter {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  background: black;
  color: white;
}

.frase_enter p {
  color: white;
}

.frase_ok p {
  color: black;
  padding:30px 0px 30px 0px;
}

.frase_wrong p {
  color: black;
}

.frase_ok {
  background: #5dff21;
  color: black;
}

.frase_wrong {
  background: red;
  color: black;
}

.imagen_autor_hide {
  display: none;
}

.imagen_autor_show {
  float: left;
  height: 60px;
  padding-top: 15px;
  padding-left: 7px;
}

.scroll-pane, .scroll-pane-arrows {
    float: left;
    width: 80%;
    height: 380px;
    overflow: auto;
}

.jspVerticalBar {
    height: 380px;
}